body, html {
  height: 100%;
  margin: 0;
  display:inline;
}

body {
  /*margin-top: 0;*/
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}

.main{
  background-color: #b8c0b1;
  height: 100%; 
/*  margin: 0;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*.img img{width:100%;}*/


.bgdiv {
  /* The image used */
  /*background-image: url(../static/login-bg.jpg);*/
  background-size: cover;
  background-image: url("http://ham.qrits.com.ar/static/backham.jpg");
  
  

  /* Full height */
  height: 100%; 

  
}
.card-body>.card{margin-top:0.7em;}

th>img {margin: 0.4em;}

.card-header.match{background-color: rgb(119, 187, 133);}


.landing{
  margin:0 !important;
  padding: 0 !important;
}

.navbar .container{
  text-align: center!important;
  display:table!important;
  
}